/* Admin Panel Design */

body, html  {
  font-family: 'Roboto Slab', serif;
}
/* div {border: 1px solid red; }*/

/* default settings for mobile view */
#style-1::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);border-radius: 10px;background-color: #F5F5F5;}
#style-1::-webkit-scrollbar {width: 12px;background-color: #F5F5F5;}
#style-1::-webkit-scrollbar-thumb { border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,.1);background-color: #555;}




@media (min-width: 375px){
    .container                     { display: flex;}

    .left-side                     { box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);flex: 1 0 100px; height: 100vh; overflow: hidden; background: linear-gradient(#9C27B0,#9C27B0); color: #fff; font-weight: 300;}
    .left-side .logo               { background-color: #6c26c3; }
    .left-side .logo img           { vertical-align: middle;}
    .left-side .logo i             { color: #000;font-size: 12px; color: #fff}  
    .left-side  p                  { font-size: 14px; text-align: center; }
    .left-side  hr                 { border: 1px solid #cb3de3; border-width: 0.05px;}   
    
    .right-side                              { flex: 1 0 80%; height: 100vh; overflow-x: hidden; overflow-y: scroll; background-color: #F0F0F0}
    .right-side p                            { padding: 10px; }
    .right-side .header                      { padding: 8px;max-height: 41px;box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);background: linear-gradient(#9C27B0,#9C27B0); color: #fff; font-weight: 300; z-index:100 ;  position: sticky; top:0; display: flex;}
    .right-side .header .info                { flex: 1 0 80%; }
    .right-side .header .navbar              { flex: 1 0 20%  ;display: flex;   align-items: center;justify-content: center;}
    .right-side .header .navbar  .item1      { flex: 1 0 30%;}
    .right-side .header .navbar  .item1 span { padding: 3px; background-color: red; font-size: 10px; border-radius: 5px }
    .right-side .header .navbar  .item2      { flex: 1 0 30%; }
    .right-side .header .navbar  .item2 span {padding: 3px; background-color: red; font-size: 10px; border-radius: 5px   }
    .right-side .header .navbar  .item3      { flex: 1 0 30%; }
    .right-side .header .navbar  .item4      { flex: 1 0 30%; }
    
    .right-side .content            {}
    .right-side .content .report    {padding: 10px; margin: 40px; background-color: #fff ;box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);}
    .right-side .content .database  {background-color: #fff ;box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);}
    .right-side .content .dataentry {background-color: #fff ;box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);}
    .right-side .content .exampanel {background-color: #fff ;box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);}
    .right-side .content .gplus     {background-color: #fff ;box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);}
    .right-side .content .config    {background-color: #fff ;box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);}
 }
.approve {
    
}
