/*CSSStyles v1.0 - mobile first design*/

{border: 1px solid red;}

/* header section */
.head-section       {display: flex;}
.head-section .logo { }
.head-section  h1   {font-size: 1.5em;  margin-top: 28px; margin-left: 45px  ;font-family: 'Roboto';  font-weight: 700; color: #55B047}

/* navbar*/
.navbar         {height: 45px; ; box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);background-color: chocolate; font-family: 'Roboto'; display: flex;}
.navbar a       {font-size: 0.80em; text-decoration: none; text-align: center;color: #fff; display: block; padding: 15px; }
.navbar a:hover {background-color: #E0782D; border-bottom: 2px solid #8A2BE2; padding: 15px;}

/* news */
.news         {height: 15px; box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);margin-top: 10px; background-color: blueviolet; color: #fff; font-family: 'Roboto'; font-size: 0.8em; padding: .3em}
.news .update {padding: 0px; margin: 0px;t transition: scroll 2s;}

.news div  {display: block; width: 200%; height: 30px; position: absolute; overflow: hidden; animation: scrollT 20s linear infinite;}
.news span { float: left;  width: 50%; }
@keyframes scrollT { 0% { left: 0; } 100% { left: -100%; }}